Repository dutchdronesquad/rh-stream-overlays: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-yaml

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ï½› Check JSON files
  language: system
  entry: poetry run check-json

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: poetry run check-yaml

feat: implement core functionality for race overlays
  .gitignore
  custom_plugins/stream_overlays/pages/stream/leaderboard/dds/class.html
  custom_plugins/stream_overlays/pages/stream/leaderboard/dds/overall.html
  custom_plugins/stream_overlays/pages/stream/topbars/topbar_apex.html
  custom_plugins/stream_overlays/pages/stream/topbars/topbar_dds.html
  custom_plugins/stream_overlays/pages/stream/topbars/topbar_lcdr.html
  preact/package-lock.json
  preact/package.json
  preact/src/components/ConnectionWarning.tsx
  preact/src/core/formatting.ts
  preact/src/core/normalizers.ts
  preact/src/core/overlayRuntime.ts
  preact/src/core/primitives.ts
  preact/src/core/raceStore.ts
  preact/src/core/resultDataSelectors.ts
  preact/src/core/rotorhazardSocket.ts
  preact/src/core/rotorhazardTypes.ts
  preact/src/core/timing.ts
  preact/src/overlays/heat/HeatOverlay.tsx
  preact/src/overlays/heat/heat.entry.tsx
  preact/src/overlays/leaderboard/LeaderboardOverlay.tsx
  preact/src/overlays/leaderboard/class.entry.tsx
  preact/src/overlays/leaderboard/overall.entry.tsx
  preact/src/overlays/node/NodeOverlay.tsx
  preact/src/overlays/node/node.entry.tsx
  preact/src/overlays/topbar/TopbarOverlay.tsx
  preact/src/overlays/topbar/topbar.entry.tsx
  preact/src/overlays/topbar/topbarTimer.ts
  preact/src/overlays/trackdraw/map.entry.tsx
  preact/src/overlays/trackdraw/overview.entry.tsx
  preact/src/themes/apex.ts
  preact/src/themes/dds.ts
  preact/src/themes/lcdr.ts
  preact/tsconfig.json
  preact/vite.config.ts
Due: check-json

feat: Enhance stream overlays with error handling and new features
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/heat/heat_base.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_apex.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_dds.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_lcdr.html
  preact/src/core/formatting.ts
  preact/src/core/overlayRuntime.ts
  preact/src/overlays/heat/HeatOverlay.tsx
  preact/src/overlays/heat/heat.entry.tsx
  preact/src/overlays/node/NodeOverlay.tsx
  preact/src/overlays/node/node.entry.tsx
  preact/src/themes/apex.ts
  preact/src/themes/dds.ts
  preact/src/themes/lcdr.ts
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Implement TrackDraw map and overview overlays with updated entry points and connection handling
  custom_plugins/stream_overlays/pages/stream/trackdraw/map.html
  custom_plugins/stream_overlays/pages/stream/trackdraw/overview.html
  preact/src/overlays/trackdraw/TrackDrawMapOverlay.tsx
  preact/src/overlays/trackdraw/TrackDrawOverviewOverlay.tsx
  preact/src/overlays/trackdraw/map.entry.tsx
  preact/src/overlays/trackdraw/overview.entry.tsx
Due: none

fix: Correct filename for release asset in workflow
  .github/workflows/release.yaml
Due: check-yaml

feat: Update topbar styles and structure for improved layout and responsiveness
  custom_plugins/stream_overlays/static/css/apex/topbar.css
  custom_plugins/stream_overlays/static/css/dds/topbar.css
  custom_plugins/stream_overlays/static/css/lcdr/topbar.css
  preact/src/overlays/topbar/TopbarOverlay.tsx
Due: none

feat: Add initial implementation of OverlayLauncher with themes and links
  preact/index.html
  preact/src/dev/OverlayLauncher.tsx
  preact/src/dev/overlayLauncher.css
Due: none

refactor: update package dependencies and improve type handling
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/overall.css
  docs/contributing/adding-overlays.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/core/primitives.ts
  frontend/src/core/rotorhazardSocket.ts
  frontend/src/core/timing.ts
  frontend/src/dev/OverlayLauncher.tsx
  frontend/src/dev/overlayLauncher.css
  frontend/src/overlays/leaderboard/LeaderboardOverlay.tsx
  frontend/src/overlays/node/NodeOverlay.tsx
  frontend/src/overlays/topbar/TopbarOverlay.tsx
  frontend/src/overlays/topbar/topbar.entry.tsx
  frontend/src/overlays/trackdraw/TrackDrawOverviewOverlay.tsx
  frontend/src/overlays/trackdraw/trackCore/model.ts
  frontend/src/overlays/trackdraw/trackCore/pilotState.ts
  frontend/src/overlays/trackdraw/trackCore/progress.ts
  frontend/src/overlays/trackdraw/trackCore/renderer.ts
  frontend/src/themes/apex.ts
  frontend/src/themes/dds.ts
  frontend/src/themes/lcdr.ts
  frontend/src/themes/types.ts
  frontend/src/types/node-url.d.ts
  frontend/vite.config.ts
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json

feat: Enhance HeatOverlay with theme layout support and improve slot handling
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/overall.css
  frontend/src/overlays/heat/HeatOverlay.tsx
Due: none

feat: Enhance HeatOverlay with improved frequency data handling and add utility functions for value extraction
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
  frontend/src/core/normalizers.ts
  frontend/src/overlays/heat/HeatOverlay.tsx
Due: none

feat: Normalize theme names in require_theme decorator and improve CSS selectors for pilot names
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/static/css/dds/leaderboard/overall.css
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
  docs/contributing/adding-overlays.md
  frontend/src/core/rotorhazardSocket.ts
  frontend/src/dev/OverlayLauncher.tsx
  frontend/src/overlays/heat/HeatOverlay.tsx
  frontend/src/overlays/trackdraw/TrackDrawOverviewOverlay.tsx
  frontend/src/overlays/trackdraw/trackCore/renderer.ts
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Refactor heat grid layout for consistency across themes and remove unused body label
  custom_plugins/stream_overlays/static/css/apex/heat.css
  custom_plugins/stream_overlays/static/css/dds/heat.css
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
  custom_plugins/stream_overlays/static/css/main/heat_base.css
  frontend/src/overlays/heat/HeatOverlay.tsx
Due: none

feat: Add font styling for position text in leaderboard entries
  custom_plugins/stream_overlays/static/css/dds/leaderboard/overall.css
Due: none

feat: Add font size and line height styling for position text in leaderboard entries
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
Due: none

feat: Update position styling in leaderboard entries to set flex basis
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
Due: none

feat: Enhance font styling for position text in leaderboard entries
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
Due: none

feat: Implement store subscription for race state synchronization in TrackDrawRenderer
  frontend/src/overlays/trackdraw/trackCore/renderer.ts
Due: none

feat: Add function to resync race slices from store in TrackDrawRenderer
  frontend/src/overlays/trackdraw/trackCore/renderer.ts
Due: none

feat: Refactor synchronization logic in TrackDrawRenderer for improved clarity and performance
  frontend/src/overlays/trackdraw/trackCore/renderer.ts
Due: none

feat: Enhance normalization logic for current heat and laps to handle empty records
  frontend/src/core/normalizers.ts
Due: none

🎆 Updates maintenance/license year to 2026
  LICENSE
  README.md
  mkdocs.yml
Due: check-yaml

🎆 Updates maintenance/license year to 2026 (#358)
  LICENSE
  README.md
  mkdocs.yml
Due: check-yaml

chore: remove baseUrl from tsconfig.json
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
Due: check-json

feat: add release notes for v1.5.0
  docs/assets/css/styles.css
  docs/blog/posts/release-v1.5.0.md
Due: none

chore: update version to 1.5.0 in manifest.json
  custom_plugins/stream_overlays/manifest.json
Due: check-json

ci: Add version validation for plugin manifest against release branches
  .github/workflows/release-version.yaml
  tools/__init__.py
  tools/check_release_version.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml

ci: Add version validation for plugin manifest against release branches (#375)
  .github/workflows/release-version.yaml
  tools/__init__.py
  tools/check_release_version.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml

Update RHFest integration to v3.2.2
  .github/workflows/rhfest.yaml
  .pre-commit-config.yaml
Due: check-yaml

Pin RHFest Action to v3.2.2
  .github/workflows/rhfest.yaml
Due: check-yaml

Run hooks on commit and push by default
  .pre-commit-config.yaml
Due: check-yaml

Keep pre-push hook installation optional
  .pre-commit-config.yaml
Due: check-yaml

⬆️ Update RHFest integration and hook stages (#437)
  .github/workflows/rhfest.yaml
  .pre-commit-config.yaml
Due: check-yaml

Update Prek hooks job name for consistency
  .github/workflows/linting.yaml
  AGENTS.md
Due: check-yaml

Update Python version to 3.14
  .python-version
Due: none

Fix Ruff copyright notice checks
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/const.py
  custom_plugins/stream_overlays/trackdraw.py
  custom_plugins/stream_overlays/utils.py
  tools/__init__.py
  tools/check_release_version.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

chore: use shared GitHub configuration
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yaml
  .github/workflows/sync-labels.yaml
Due: check-yaml

chore: use shared GitHub configuration (#438)
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yaml
  .github/workflows/sync-labels.yaml
Due: check-yaml

ci: adopt Label Blueprint
  .github/workflows/sync-labels.yaml
Due: check-yaml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
