Repository dutchdronesquad/rh-stream-overlays: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-yaml

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ï½› Check JSON files
  language: system
  entry: poetry run check-json

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: poetry run check-yaml

Refactor heat overlay styles and scripts for cleaner presentation (#263)
  custom_plugins/stream_overlays/pages/stream/heat/heat_base.html
  custom_plugins/stream_overlays/static/css/overlay_heat.css
  custom_plugins/stream_overlays/static/css/overlay_heat_apex.css
  custom_plugins/stream_overlays/static/js/overlay_heat.js
Due: none

Add heat overlay functionality for DDS theme
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/heat/heat_dds.html
  custom_plugins/stream_overlays/static/css/overlay_heat_dds.css
  custom_plugins/stream_overlays/static/js/overlay_heat.js
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add LCDR heat overlay functionality and styling
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/heat/heat_lcdr.html
  custom_plugins/stream_overlays/static/css/overlay_heat_lcdr.css
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Add fixed position to heat overlay background for improved visibility
  custom_plugins/stream_overlays/static/css/overlay_heat_lcdr.css
Due: none

Refactor css files folder structure
  custom_plugins/stream_overlays/pages/stream/heat/heat_apex.html
  custom_plugins/stream_overlays/pages/stream/heat/heat_base.html
  custom_plugins/stream_overlays/pages/stream/heat/heat_dds.html
  custom_plugins/stream_overlays/pages/stream/heat/heat_lcdr.html
  custom_plugins/stream_overlays/pages/stream/leaderboard/dds/class.html
  custom_plugins/stream_overlays/pages/stream/leaderboard/dds/overall.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_apex.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_dds.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_lcdr.html
  custom_plugins/stream_overlays/pages/stream/topbars/topbar_apex.html
  custom_plugins/stream_overlays/pages/stream/topbars/topbar_dds.html
  custom_plugins/stream_overlays/pages/stream/topbars/topbar_lcdr.html
  custom_plugins/stream_overlays/static/css/apex/heat.css
  custom_plugins/stream_overlays/static/css/apex/node.css
  custom_plugins/stream_overlays/static/css/apex/topbar.css
  custom_plugins/stream_overlays/static/css/dds/heat.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/overall.css
  custom_plugins/stream_overlays/static/css/dds/node.css
  custom_plugins/stream_overlays/static/css/dds/topbar.css
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
  custom_plugins/stream_overlays/static/css/lcdr/node.css
  custom_plugins/stream_overlays/static/css/lcdr/topbar.css
  custom_plugins/stream_overlays/static/css/main/base.css
  custom_plugins/stream_overlays/static/css/main/heat_base.css
Due: none

Refactor css files folder structure (#268)
  custom_plugins/stream_overlays/pages/stream/heat/heat_apex.html
  custom_plugins/stream_overlays/pages/stream/heat/heat_base.html
  custom_plugins/stream_overlays/pages/stream/heat/heat_dds.html
  custom_plugins/stream_overlays/pages/stream/heat/heat_lcdr.html
  custom_plugins/stream_overlays/pages/stream/leaderboard/dds/class.html
  custom_plugins/stream_overlays/pages/stream/leaderboard/dds/overall.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_apex.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_dds.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_lcdr.html
  custom_plugins/stream_overlays/pages/stream/topbars/topbar_apex.html
  custom_plugins/stream_overlays/pages/stream/topbars/topbar_dds.html
  custom_plugins/stream_overlays/pages/stream/topbars/topbar_lcdr.html
  custom_plugins/stream_overlays/static/css/apex/heat.css
  custom_plugins/stream_overlays/static/css/apex/node.css
  custom_plugins/stream_overlays/static/css/apex/topbar.css
  custom_plugins/stream_overlays/static/css/dds/heat.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/overall.css
  custom_plugins/stream_overlays/static/css/dds/node.css
  custom_plugins/stream_overlays/static/css/dds/topbar.css
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
  custom_plugins/stream_overlays/static/css/lcdr/node.css
  custom_plugins/stream_overlays/static/css/lcdr/topbar.css
  custom_plugins/stream_overlays/static/css/main/base.css
  custom_plugins/stream_overlays/static/css/main/heat_base.css
Due: none

Update version to v1.4.0 in manifest.json
  custom_plugins/stream_overlays/manifest.json
Due: check-json

Add release notes for v1.4.0
  docs/blog/posts/release-v1.4.0.md
Due: none

Enhance numeric font rendering across CSS files by adding 'font-variant-numeric: tabular-nums'
  custom_plugins/stream_overlays/static/css/apex/heat.css
  custom_plugins/stream_overlays/static/css/apex/node.css
  custom_plugins/stream_overlays/static/css/apex/topbar.css
  custom_plugins/stream_overlays/static/css/dds/heat.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/overall.css
  custom_plugins/stream_overlays/static/css/dds/node.css
  custom_plugins/stream_overlays/static/css/dds/topbar.css
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
  custom_plugins/stream_overlays/static/css/lcdr/node.css
  custom_plugins/stream_overlays/static/css/lcdr/topbar.css
Due: none

Add numeric font features to CSS for improved rendering
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/overall.css
Due: none

Enhance numeric font rendering across CSS files (#270)
  custom_plugins/stream_overlays/static/css/apex/heat.css
  custom_plugins/stream_overlays/static/css/apex/node.css
  custom_plugins/stream_overlays/static/css/apex/topbar.css
  custom_plugins/stream_overlays/static/css/dds/heat.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/class.css
  custom_plugins/stream_overlays/static/css/dds/leaderboard/overall.css
  custom_plugins/stream_overlays/static/css/dds/node.css
  custom_plugins/stream_overlays/static/css/dds/topbar.css
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
  custom_plugins/stream_overlays/static/css/lcdr/node.css
  custom_plugins/stream_overlays/static/css/lcdr/topbar.css
Due: none

Update version to v1.4.1 in manifest.json
  custom_plugins/stream_overlays/manifest.json
Due: check-json

Update DDS overlay docs with new leaderboard preview images
  docs/assets/img/overlays/dds/dds-leaderboard-overall.gif
  docs/overlays/dds.md
Due: none

Update DDS overlay docs with new leaderboard preview images (#272)
  docs/assets/img/overlays/dds/dds-leaderboard-overall.gif
  docs/overlays/dds.md
Due: none

feat: Add TrackDraw integration with minimap overlay
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/trackdraw/minimap.html
  custom_plugins/stream_overlays/static/css/apex/trackdraw_minimap.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_minimap.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_minimap.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_minimap.css
  custom_plugins/stream_overlays/static/js/trackdraw_minimap.js
  custom_plugins/stream_overlays/trackdraw.py
  custom_plugins/stream_overlays/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Migrate from MKDocs to Zensical
  .github/workflows/deploy.yaml
  Makefile
  README.md
  docs/assets/css/homepage.css
  docs/assets/css/styles.css
  docs/blog/index.md
  docs/installation/development.md
  pyproject.toml
  uv.lock
Due: check-yaml

refactor: Implement function for improved split mapping
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/trackdraw.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Enhance with caching and auto-sync functionality
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/const.py
  custom_plugins/stream_overlays/trackdraw.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

refactor: Remove auto-sync functionality and improve error handling
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/const.py
  custom_plugins/stream_overlays/trackdraw.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Enhance TrackDraw overlay with readiness diagnostics and improved error messaging
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/trackdraw/minimap.html
  custom_plugins/stream_overlays/static/css/main/trackdraw_minimap.css
  custom_plugins/stream_overlays/static/js/trackdraw_minimap.js
  custom_plugins/stream_overlays/trackdraw.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Introduce new TrackDraw map overlay and remove minimap
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/trackdraw/map.html
  custom_plugins/stream_overlays/pages/stream/trackdraw/minimap.html
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/apex/trackdraw_minimap.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_minimap.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_minimap.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_minimap.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
  custom_plugins/stream_overlays/static/js/trackdraw_minimap.js
  custom_plugins/stream_overlays/trackdraw.py
  custom_plugins/stream_overlays/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

refactor: Improve socket handler registration and loadTrack initialization
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

fix: Change body background color to grey and update heatNodes iteration method
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Add soft glow effect to route line and enhance header with live indicator
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

refactor: Remove unused root background variables and adjust styles for transparency in TrackDraw overlays
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Enhance TrackDraw map with leaderboard support and visual improvements
  custom_plugins/stream_overlays/pages/stream/trackdraw/map.html
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Add lap time extraction and improve pilot state management during race start
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Enhance pilot label display with background and leader indicators
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Implement responsive viewport classes for trackdraw map and enhance pilot marker display
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Add grey background variable for trackdraw map and remove unused timing elements
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Enhance trackdraw map styles and add new route elements for improved visualization
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Add pilot density classes and enhance label visibility for crowded scenarios
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Update route styles and enhance gate tick visibility across themes
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Refactor progress interpolation and segment share calculation for improved lap handling
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Enhance gate visualization and improve lap rollover continuity in trackdraw map
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Refactor start gate to finish line and enhance timing tick visibility
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Add contrast color utility and improve label positioning for better visibility
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Disable message display in rotorhazard for improved user experience
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
