Repository dutchdronesquad/rh-stream-overlays: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-yaml

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: 🐶 Ruff Linter
        language: system
        types: [python]
        entry: poetry run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: 🐶 Ruff Formatter
        language: system
        types: [python]
        entry: poetry run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: 🐍 Check Python AST
        language: system
        types: [python]
        entry: poetry run check-ast
      - id: check-case-conflict
        name: 🔠 Check for case conflicts
        language: system
        entry: poetry run check-case-conflict
      - id: check-docstring-first
        name: ℹ️  Check docstring is first
        language: system
        types: [python]
        entry: poetry run check-docstring-first
      - id: check-json
        name: ｛ Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-yaml
        name: ✅ Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: detect-private-key
        name: 🕵️  Detect Private Keys
        language: system
        types: [text]
        entry: poetry run detect-private-key
      - id: end-of-file-fixer
        name: ⮐  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: 🛑 Don't commit to main branch
        language: system
        entry: poetry run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: poetry
        name: 📜 Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: trailing-whitespace
        name: ✄  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: poetry run trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: rhfest
        name: 🎉 Check RHFest
        language: docker_image
        entry: ghcr.io/dutchdronesquad/rhfest-action:latest

Add RHFest badge to README
  README.md
Due: none

Add RHFest checks (#118)
  .github/workflows/rhfest.yaml
  .pre-commit-config.yaml
  README.md
Due: check-yaml

Update RHFest action references to use rotorhazard repository
  .github/workflows/rhfest.yaml
  .pre-commit-config.yaml
Due: check-yaml

Update RHFest action references to use rotorhazard repository (#130)
  .github/workflows/rhfest.yaml
  .pre-commit-config.yaml
Due: check-yaml

Bump plugin to v1.3.0
  custom_plugins/stream_overlays/manifest.json
Due: check-json

Update pre-commit configuration and manifest for Stream Overlays plugin
  .pre-commit-config.yaml
  custom_plugins/stream_overlays/manifest.json
Due: check-json, check-yaml

Bump plugin to v1.3.1
  custom_plugins/stream_overlays/manifest.json
Due: check-json

Add RHCP badge to README
  README.md
Due: none

Hide navigation in the documentation homepage
  docs/index.md
Due: none

Enhance installation instructions for Stream Overlays plugin by clarifying GUI and CLI methods
  docs/installation/index.md
Due: none

Update installation instructions in documentation (#169)
  README.md
  docs/index.md
  docs/installation/index.md
Due: none

Replace Poetry for UV as dependency manager
  .gitignore
  .pre-commit-config.yaml
  .python-version
  poetry.lock
  pyproject.toml
  uv.lock
Due: check-yaml

Replace Poetry with UV for dependency management in workflows
  .github/workflows/deploy.yaml
  .github/workflows/linting.yaml
Due: check-yaml

Update package rules to replace Poetry with Pep621 for dependency management
  .github/renovate.json
Due: check-json

Replace Poetry with UV as the dependency manager in documentation and setup instructions
  README.md
  docs/installation/development.md
Due: none

Bump version to 0.0.0 in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none

Replace Poetry for UV as dependency manager (#172)
  .github/renovate.json
  .github/workflows/deploy.yaml
  .github/workflows/linting.yaml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  README.md
  docs/installation/development.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: check-json, check-yaml

Update manifest.json by removing category field
  custom_plugins/stream_overlays/manifest.json
Due: check-json

Fix lap time handling to support formatted lap times
  custom_plugins/stream_overlays/static/js/overlay_node_dds.js
  custom_plugins/stream_overlays/static/js/overlay_node_lcdr.js
Due: none

Fix lap time handling to support formatted lap times (#247)
  custom_plugins/stream_overlays/static/js/overlay_node_dds.js
  custom_plugins/stream_overlays/static/js/overlay_node_lcdr.js
Due: none

Refactor node overlay scripts to share common logic
  custom_plugins/stream_overlays/pages/stream/nodes/node_dds.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_lcdr.html
  custom_plugins/stream_overlays/static/js/overlay_node_dds.js
  custom_plugins/stream_overlays/static/js/overlay_node_lcdr.js
  custom_plugins/stream_overlays/static/js/overlay_node_shared.js
Due: none

Fix formatting of script tags in node_lcdr.html
  .python-version
  custom_plugins/stream_overlays/pages/stream/nodes/node_lcdr.html
Due: none

Refactor node overlay scripts to share common logic (#248)
  .python-version
  custom_plugins/stream_overlays/pages/stream/nodes/node_dds.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_lcdr.html
  custom_plugins/stream_overlays/static/js/overlay_node_dds.js
  custom_plugins/stream_overlays/static/js/overlay_node_lcdr.js
  custom_plugins/stream_overlays/static/js/overlay_node_shared.js
Due: none

Add permissions section to workflow files
  .github/workflows/deploy.yaml
  .github/workflows/linting.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/rhfest.yaml
  .github/workflows/sync-labels.yaml
Due: check-yaml

Add permissions section to workflow files (#249)
  .github/workflows/deploy.yaml
  .github/workflows/linting.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/rhfest.yaml
  .github/workflows/sync-labels.yaml
Due: check-yaml

Replace pre-commit for prek
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  uv.lock
Due: check-yaml

Replace pre-commit for prek (#250)
  .github/workflows/linting.yaml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  uv.lock
Due: check-yaml

Bump plugin to v1.3.2
  custom_plugins/stream_overlays/manifest.json
Due: check-json

Add theme-specific socket warning styles for DDS and LCDR pages
  custom_plugins/stream_overlays/pages/stream/nodes/node_dds.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_lcdr.html
  custom_plugins/stream_overlays/static/css/overlay_node_dds.css
  custom_plugins/stream_overlays/static/css/overlay_node_lcdr.css
Due: none

Add theme-specific socket warning styles for DDS and LCDR pages (#257)
  custom_plugins/stream_overlays/pages/stream/nodes/node_dds.html
  custom_plugins/stream_overlays/pages/stream/nodes/node_lcdr.html
  custom_plugins/stream_overlays/static/css/overlay_node_dds.css
  custom_plugins/stream_overlays/static/css/overlay_node_lcdr.css
Due: none

Add socket connection warning functionality to NodeOverlay
  custom_plugins/stream_overlays/static/js/overlay_node_shared.js
Due: none

Add socket connection warning functionality to NodeOverlay (#258)
  custom_plugins/stream_overlays/static/js/overlay_node_shared.js
Due: none

Normalize section headers in FAQ documents for consistency
  docs/faq/customization.md
  docs/faq/index.md
  docs/faq/installation.md
  docs/faq/obs-setup.md
  docs/faq/troubleshooting.md
Due: none

Refactor heat overlay styles and scripts for cleaner presentation
  custom_plugins/stream_overlays/pages/stream/heat/heat_base.html
  custom_plugins/stream_overlays/static/css/overlay_heat.css
  custom_plugins/stream_overlays/static/css/overlay_heat_apex.css
  custom_plugins/stream_overlays/static/js/overlay_heat.js
Due: none
