Repository dutchdronesquad/rh-stream-overlays: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-yaml

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: ğŸ Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: â„¹ï¸  Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: ï½› Check JSON files
  language: system
  entry: poetry run check-json

check-yaml:
  name: âœ… Check YAML files
  language: system
  entry: poetry run check-yaml

ci: pin Label Blueprint v1.0.0
  .github/workflows/sync-labels.yaml
Due: check-yaml

ci: adopt Label Blueprint v1.0.0 (#439)
  .github/workflows/sync-labels.yaml
Due: check-yaml

fix: suppress RotorHazard alerts in stream overlays
  frontend/src/core/rotorhazardSocket.ts
Due: none

fix: suppress RotorHazard alerts in stream overlays (#450)
  frontend/src/core/rotorhazardSocket.ts
Due: none

chore: remove source copyright headers and ignore CPY001
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/const.py
  custom_plugins/stream_overlays/trackdraw.py
  custom_plugins/stream_overlays/utils.py
  pyproject.toml
  tools/__init__.py
  tools/check_release_version.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

chore: remove source copyright headers and ignore CPY001 (#452)
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/const.py
  custom_plugins/stream_overlays/trackdraw.py
  custom_plugins/stream_overlays/utils.py
  pyproject.toml
  tools/__init__.py
  tools/check_release_version.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Bump version to 1.5.1 in manifest.json
  custom_plugins/stream_overlays/manifest.json
Due: check-json

Adopt shared organization configuration
  .github/renovate.json
  .github/workflows/sync-labels.yaml
Due: check-json, check-yaml

Adopt shared organization configuration (#458)
  .github/renovate.json
  .github/workflows/sync-labels.yaml
Due: check-json, check-yaml

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
