Repository dutchdronesquad/rh-stream-overlays: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-yaml

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ğŸ¶ Ruff Linter
        language: system
        types: [python]
        entry: poetry run ruff check --fix
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: ruff-format
        name: ğŸ¶ Ruff Formatter
        language: system
        types: [python]
        entry: poetry run ruff format
        require_serial: true
        stages: [pre-commit, pre-push, manual]
      - id: check-ast
        name: ğŸ Check Python AST
        language: system
        types: [python]
        entry: poetry run check-ast
      - id: check-case-conflict
        name: ğŸ”  Check for case conflicts
        language: system
        entry: poetry run check-case-conflict
      - id: check-docstring-first
        name: â„¹ï¸  Check docstring is first
        language: system
        types: [python]
        entry: poetry run check-docstring-first
      - id: check-json
        name: ï½› Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-yaml
        name: âœ… Check YAML files
        language: system
        types: [yaml]
        entry: poetry run check-yaml
      - id: detect-private-key
        name: ğŸ•µï¸  Detect Private Keys
        language: system
        types: [text]
        entry: poetry run detect-private-key
      - id: end-of-file-fixer
        name: â®  Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [pre-commit, pre-push, manual]
      - id: no-commit-to-branch
        name: ğŸ›‘ Don't commit to main branch
        language: system
        entry: poetry run no-commit-to-branch
        pass_filenames: false
        always_run: true
        args:
          - --branch=main
      - id: poetry
        name: ğŸ“œ Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: trailing-whitespace
        name: âœ„  Trim Trailing Whitespace
        language: system
        types: [text]
        entry: poetry run trailing-whitespace-fixer
        stages: [pre-commit, pre-push, manual]
      - id: rhfest
        name: ğŸ‰ Check RHFest
        language: docker_image
        entry: ghcr.io/dutchdronesquad/rhfest-action:latest

feat: Enhance pilot element management and improve lap sample learning for better race tracking
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Refactor track model building and enhance finish line rendering for improved race visualization
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Update getRoot function to correctly select the track draw map element
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Adjust pilot dot opacity transition timing for smoother visual effects
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Update trackdraw map styles for improved badge font and label customization
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
Due: none

feat: Refactor pilot label rendering to use popup-style layout with callsign and lap count
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Update pilot label rendering to use position box instead of lap count
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Simplify pilot label rendering to use a single callsign badge with theme-based styling
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Update pilot label dimensions and adjust background rounding for DDS popup style
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Remove default background color for trackdraw map
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
Due: none

feat: Set HTML background to transparent and adjust height, margin, and padding
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
Due: none

feat: Enhance visual scaling for route lines and pilot dots based on viewport size
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Simplify TrackDraw header and remove unused status indicators
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/trackdraw/map.html
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Implement baseline lap time management for pilots and enhance duration estimation
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Refactor rollover logic to improve progress estimation and handling for lap transitions
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Add condition to fade correction based on rollover option in pilot approach logic
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Refactor roundedRectPath and streamline field validation logic
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Update getEffectiveSegmentMs to prioritize expected segment and lap times
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Update comments and markdown references to clarify map usage
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
  custom_plugins/stream_overlays/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Update theme handling and CSS imports for consistency
  custom_plugins/stream_overlays/pages/stream/trackdraw/map.html
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/trackdraw.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Enhance track loading logic to prevent duplicate fetches
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

feat: Add TrackDraw integration with (mini)map overlay (#350)
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/const.py
  custom_plugins/stream_overlays/pages/stream/trackdraw/map.html
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_map.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
  custom_plugins/stream_overlays/trackdraw.py
  custom_plugins/stream_overlays/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Add TrackDraw overview overlay and related utilities
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/trackdraw/overview.html
  custom_plugins/stream_overlays/static/css/main/trackdraw_overview.css
  custom_plugins/stream_overlays/static/js/trackdraw_overview.js
  custom_plugins/stream_overlays/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

feat: Enhance TrackDraw overview layout and functionality with new animations and status indicators
  custom_plugins/stream_overlays/pages/stream/trackdraw/overview.html
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_overview.css
  custom_plugins/stream_overlays/static/js/trackdraw_overview.js
Due: none

refactor: Remove unused status area from TrackDraw overview
  custom_plugins/stream_overlays/pages/stream/trackdraw/overview.html
  custom_plugins/stream_overlays/static/css/main/trackdraw_overview.css
Due: none

style: Update CSS for TrackDraw overlays with glassmorphism, diagonal rounding, and angular designs
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_overview.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
Due: none

style: Update CSS for TrackDraw overlays to enhance color scheme and visual consistency across themes
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
Due: none

refactor: Consolidate TrackDraw markdown creation into a single function and update grid layout for better responsiveness
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/static/css/apex/heat.css
  custom_plugins/stream_overlays/static/css/dds/heat.css
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
  custom_plugins/stream_overlays/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

style: Adjust line-height for improved text readability in TrackDraw overview
  custom_plugins/stream_overlays/static/css/main/trackdraw_overview.css
Due: none

style: Update alignment properties for Callsign and Delta elements in TrackDraw overview
  custom_plugins/stream_overlays/static/css/main/trackdraw_overview.css
Due: none

style: Adjust font size and add text overflow properties for Callsign in Apex, DDS, and LCDR themes
  custom_plugins/stream_overlays/static/css/apex/heat.css
  custom_plugins/stream_overlays/static/css/dds/heat.css
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
Due: none

style: Update leader label logic to ensure position is valid before display
  custom_plugins/stream_overlays/static/js/trackdraw_overview.js
Due: none

style: Reset pilot positions to null before processing leaderboard entries
  custom_plugins/stream_overlays/static/js/trackdraw_overview.js
Due: none

feat: Add TrackDraw overview overlay and related utilities (#351)
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/trackdraw/overview.html
  custom_plugins/stream_overlays/static/css/apex/heat.css
  custom_plugins/stream_overlays/static/css/apex/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/dds/heat.css
  custom_plugins/stream_overlays/static/css/dds/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/lcdr/heat.css
  custom_plugins/stream_overlays/static/css/lcdr/trackdraw_map.css
  custom_plugins/stream_overlays/static/css/main/trackdraw_overview.css
  custom_plugins/stream_overlays/static/js/trackdraw_map.js
  custom_plugins/stream_overlays/static/js/trackdraw_overview.js
  custom_plugins/stream_overlays/utils.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

docs: Enhance for Stream Overlays and TrackDraw integration
  docs/advanced/index.md
  docs/faq/customization.md
  docs/faq/index.md
  docs/faq/installation.md
  docs/faq/obs-setup.md
  docs/faq/troubleshooting.md
  docs/getting-started/index.md
  docs/getting-started/obs-setup.md
  docs/integrations/index.md
  docs/integrations/trackdraw/index.md
  docs/integrations/trackdraw/live-race-map.md
  docs/integrations/trackdraw/overview.md
  docs/integrations/trackdraw/setup.md
  docs/overlays/apex.md
  docs/overlays/dds.md
  docs/overlays/index.md
  docs/overlays/lcdr.md
  docs/overlays/types/index.md
  docs/overlays/types/leaderboards.md
  docs/overlays/types/nodes.md
  docs/overlays/types/topbars.md
  docs/overlays/types/upcoming-heat.md
  docs/production/obs-scene-layouts.md
  docs/production/performance.md
  docs/production/race-day-checklist.md
  mkdocs.yml
Due: check-yaml

docs: Update OBS setup and troubleshooting guidance for better overlay performance
  docs/faq/obs-setup.md
  docs/faq/troubleshooting.md
  docs/getting-started/index.md
  docs/getting-started/obs-setup.md
  docs/integrations/trackdraw/live-race-map.md
  docs/integrations/trackdraw/overview.md
  docs/integrations/trackdraw/setup.md
  docs/production/performance.md
  docs/production/race-day-checklist.md
Due: none

Migrate stream overlays to Preact
  .gitignore
  custom_plugins/stream_overlays/__init__.py
  custom_plugins/stream_overlays/pages/stream/preact/heat.html
  custom_plugins/stream_overlays/pages/stream/preact/leaderboard_class.html
  custom_plugins/stream_overlays/pages/stream/preact/leaderboard_overall.html
  custom_plugins/stream_overlays/pages/stream/preact/node.html
  custom_plugins/stream_overlays/pages/stream/preact/test.html
  custom_plugins/stream_overlays/pages/stream/preact/topbar.html
  custom_plugins/stream_overlays/pages/stream/preact/trackdraw_map.html
  custom_plugins/stream_overlays/pages/stream/preact/trackdraw_overview.html
  preact/package-lock.json
  preact/package.json
  preact/src/components/ConnectionWarning.tsx
  preact/src/core/normalizers.ts
  preact/src/core/overlayRuntime.ts
  preact/src/core/raceStore.ts
  preact/src/core/resultDataSelectors.ts
  preact/src/core/rotorhazardSocket.ts
  preact/src/core/rotorhazardTimer.ts
  preact/src/core/rotorhazardTypes.ts
  preact/src/overlays/PreactTestOverlay.tsx
  preact/src/overlays/heat/HeatOverlay.tsx
  preact/src/overlays/heat/heat.entry.tsx
  preact/src/overlays/leaderboard/LeaderboardClassOverlay.tsx
  preact/src/overlays/leaderboard/LeaderboardOverallOverlay.tsx
  preact/src/overlays/leaderboard/class.entry.tsx
  preact/src/overlays/leaderboard/overall.entry.tsx
  preact/src/overlays/node/NodeOverlay.tsx
  preact/src/overlays/node/node.entry.tsx
  preact/src/overlays/preact-test.css
  preact/src/overlays/preact-test.entry.tsx
  preact/src/overlays/topbar/TopbarOverlay.tsx
  preact/src/overlays/topbar/topbar.entry.tsx
  preact/src/overlays/trackdraw/TrackDrawMapOverlay.tsx
  preact/src/overlays/trackdraw/TrackDrawOverviewOverlay.tsx
  preact/src/overlays/trackdraw/map.entry.tsx
  preact/src/overlays/trackdraw/overview.entry.tsx
  preact/src/overlays/trackdraw/trackCore/progress.ts
  preact/tsconfig.json
  preact/vite.config.ts
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json

feat: Enhance socket connection handling with retry logic and data request
  preact/src/core/rotorhazardSocket.ts
Due: none
